body {
  background-color: white;
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
}

h1 {
  font-family: 'Big Shoulders Display', cursive;
  padding-left: 25px;
  color: white;
  color: hsl(0, 0%, 95%);
}

p {
  font-family: 'Lexend Deca', sans-serif;
  color: white;
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 40px;
  width: 70%;
  line-height: 2;
  padding-left: 25px;
}

img {
  padding-left: 30px;
  padding-top: 20px;
}

div {
  display: inline-block;
}

a {
  display: inline-block;
  margin-left: 30%;
  margin-top: 10px;
}

.main {
  width: 80%;
  margin: 200px;
  position: relative;
}

.column {
  width: 31.67%;
  float: left;
  padding: 10px;
  height: 385px;
}

.btn1 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: hsl(31, 77%, 52%);
  font-size: 15px;
  background: hsl(0, 0%, 95%);
  padding: 10px 20px 10px 20px;
  border: solid hsl(0, 0%, 95%) 2px;
  text-decoration: none;
}

.btn1:hover {
  background: hsl(31, 77%, 52%);
  text-decoration: none;
  color: hsl(0, 0%, 95%);
}

.btn2 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: hsl(184, 100%, 22%);
  font-size: 15px;
  background: hsl(0, 0%, 95%);
  padding: 10px 20px 10px 20px;
  border: solid hsl(0, 0%, 95%) 2px;
  text-decoration: none;
}

.btn2:hover {
  background: hsl(184, 100%, 22%);
  text-decoration: none;
  color: hsl(0, 0%, 95%);
}

.btn3 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: hsl(179, 100%, 13%);
  font-size: 15px;
  background: hsl(0, 0%, 95%);
  padding: 10px 20px 10px 20px;
  border: solid hsl(0, 0%, 95%) 2px;
  text-decoration: none;
}

.btn3:hover {
  background: hsl(179, 100%, 13%);
  text-decoration: none;
  color: hsl(0, 0%, 95%);
}
